<section class="footer">
    <div class="container">
        <div class="sub-section1">
            <ul class="menuItems">
                <li>SECTION 1</li>
                <li>Subsection</li>
                <li>Subsection</li>
                <li>Subsection</li>
                <li>Subsection</li>
            </ul>
            <ul class="menuItems">
                <li>SECTION 1</li>
                <li>Subsection</li>
                <li>Subsection</li>
                <li>Subsection</li>
                <li>Subsection</li>
            </ul>
            <ul class="menuItems">
                <li>SECTION 1</li>
                <li>Subsection</li>
                <li>Subsection</li>
                <li>Subsection</li>
                <li>Subsection</li>
            </ul>
            <ul class="menuItems">
                <li>SECTION 1</li>
                <li>Subsection</li>
                <li>Subsection</li>
                <li>Subsection</li>
                <li>Subsection</li>
            </ul>
            <ul class="menuItems">
                <li>SECTION 1</li>
                <li>Subsection</li>
                <li>Subsection</li>
                <li>Subsection</li>
                <li>Subsection</li>
            </ul>
            <div class="logoText">
                <p>THIS IS THE <br><span>LOGO</span></p>
            </div>
        </div>

        <div class="subsection2">
            <p>2017. Company. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor .</p>

            <ul class="iconItems">
                <li><i class="ic ic-facebook"></i></li>
                <li><i class="ic ic-twitter"></i></li>
                <li><i class="ic ic-insta"></i></li>
                <li><i class="ic ic-linkedIn"></i></li>
                <li><i class="ic ic-browser"></i></li>
            </ul>
        </div>

    </div>
</section>
