<section class="menu">
    <div class="menu-container">
      <div class="menu-header">
        <h1 class="heading">OUR MENU</h1>
        <div class="bar"></div>
        <div class="know-more">KNOW MORE</div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div
          class="col-3 starters"
        >
          <div
          >
            <h1 class="heading">STARTERS</h1>
            <div class="items">
              <div class="title">QUINOA CROQUETTAS</div>
              <div class="description">
                Quinoa and cheddar croquettas with aji rocotto & pineapple salsa
                (v)
              </div>
              <div class="moneyTag">£4.95</div>
            </div>
            <div class="items">
              <div class="title">CHIFA CHICHARRONES</div>
              <div class="description">
                Slow cooked, crispy pork belly with sweet soy sauce
              </div>
              <div class="moneyTag">£4.95</div>
            </div>
            <div class="items">
              <div class="title">CALAMARES</div>
              <div class="description">
                Crispy baby squid with pickled jalapeño miso salsa
              </div>
              <div class="moneyTag">£4.95</div>
            </div>
          </div>
        </div>

        <div
          class="col-3 maincourses"
          
        >
          <div class="mt-auto stick1" 
          >
            <h1 class="heading hidden-heading">MAIN COURSES</h1>
            <div class="items">
              <div class="title">EL CLASICO</div>
              <div class="description">
                Sea bass ceviche with aji limo tiger’s milk, sweet potato purée,
                choclo corn, red onion, coriander & plantain (gf)
              </div>
              <div class="moneyTag">£2.95</div>
            </div>
            <div class="items">
              <div class="title">TIRADITO CALLAO</div>
              <div class="description">
                Cobia tiradito with coriander tiger’s milk, black tobika, crème
                fraiche & sweet potato crunchies
              </div>
              <div class="moneyTag">£9.95</div>
            </div>
          </div>
        </div>
        <div
          class="col-3 sides"
          
        >
          <div class="margin-top-70" 
          
          >
            <h1 class="heading hidden-heading">SIDES</h1>
            <div class="items">
              <div class="title">SUPER POLLO</div>
              <div class="description">
                Marinated corn fed chicken pieces with rocotto salsa
              </div>
              <div class="moneyTag">£1.00</div>
            </div>
            <div class="items">
              <div class="title">PATATAS FRITAS</div>
              <div class="description">
                Sweet potato fries with aji rocotto mayonnaise (v)
              </div>
              <div class="moneyTag">£5.35</div>
            </div>
          </div>
        </div>
        <div
          class="col-3 desserts"
          
        >
          <div class="mt-3 stick2"
        
          >
            <h1 class="heading hidden-heading">DESSERTS</h1>
            <div class="items">
              <div class="title">ICECREAM</div>
              <div class="description">
                Lorem ipsum dolor sit amet salerma petrum sea
              </div>
              <div class="moneyTag">£6.25</div>
            </div>
            <div class="items">
              <div class="title">TIRAMISU</div>
              <div class="description">
                Lorem ipsum dolor sit amet salerma petrum sea
              </div>
              <div class="moneyTag">£3.95</div>
            </div>
            <div class="items">
              <div class="title">CHOCOLATE BROWNIE</div>
              <div class="description">
                Lorem ipsum dolor sit amet salerma petrum sea
              </div>
              <div class="moneyTag">£2.35</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>