<!-- <p>main works!</p> -->
<section>
  <section class="dashboard" (enterTheViewportNotifier)="check($event, 'hero')">
    <div class="dashboard-content">
      <div class="logo">
        <img
          src="/assets/images/dashboardLogoStamp.png"
          alt="dashboardLogoStamp"
        />
      </div>
      <h1 class="ff-dinCondensed">
        THE BEST FOODIE<br />
        <span>EXPERIENCE</span>
      </h1>
      <p>NOW IN LONDON</p>
    </div>
    <!-- <div class="request_info"><p>REQUEST INFO</p></div> -->
  </section>
  <section
    (enterTheViewportNotifier)="check($event, 'community')"
    class="community"
  >
    <div class="container">
      <div class="row row1">
        <div class="col-3"></div>
        <div class="col-3 meet-community">
          <div class="heading">
            <p>MEET OUR COMMUNITY</p>
            <div class="bar"></div>
          </div>
          <div class="know-more">KNOW MORE</div>
          <div class="content">
            <p>
              LOREM IPSUM DOLOR SIT AMET ERNUT TEMPARTERO SERTU PER NABORE EN
              TORNA ENTALTO
            </p>
          </div>
        </div>
        <div
          [ngClass]="counter === 2 ? 'frame-active' : ''"
          class="col-3 frame"
        >
          <div class="image-container">
            <img class="img1" alt="image" src="/assets/images/pic2.png" />
            <img
              class="img2"
              alt="image"
              src="/assets/images/instagram-btn.png"
            />
            <img class="img3" alt="image" src="/assets/images/detail02.png" />
          </div>
        </div>
        <div [ngClass]="counter === 2 ? 'comments' : ''" class="col-3 text-col">
          <div class="text-container">
            <div class="text-frame">
              <p class="heading mt-auto">@buzzfeedfood</p>
              <p class="content mb-auto">
                It’s taco Tuesday! These tacos from @jesseszewczyk have no added
                sugars and are SO good 🌮. Find the recipe from the link in our
                bio! 📸: @taylormillerphoto
              </p>
              <div class="mt-auto icon-holder">
                <ul class="icon-list">
                  <li>
                    <i class="ic-sm ic-message"></i>
                    <p>60</p>
                  </li>
                  <li>
                    <i class="ic-sm ic-heart"></i>
                    <p>14.1k</p>
                  </li>
                </ul>
              </div>
            </div>

            <img class="img3" alt="image" src="/assets/images/detail01.png" />
          </div>
        </div>
      </div>

      <div class="row row2">
        <div class="col-3 text-col">
          <div
            class="text-container"
            [ngClass]="counter === 2 ? 'comments' : ''"
          >
            <div class="text-frame">
              <p class="heading mt-auto">@love_food</p>
              <p class="content mb-auto">
                Waffle sticks in Copenhagen! 🇩🇰😍 Milk chocolate with sprinkles,
                dark chocolate with coconut and milk chocolate with peanuts!
                [📷: @foodwithmichel] #lovefood
              </p>
              <div class="mt-auto icon-holder">
                <ul class="icon-list">
                  <li>
                    <i class="ic-sm ic-message"></i>
                    <p>60</p>
                  </li>
                  <li>
                    <i class="ic-sm ic-heart"></i>
                    <p>14.1k</p>
                  </li>
                </ul>
              </div>
            </div>

            <img class="img3" alt="image" src="/assets/images/detail03.png" />
          </div>
        </div>

        <div
          class="col-3 frame"
          [ngClass]="counter === 2 ? 'frame-active' : ''"
        >
          <div class="image-container">
            <img class="img1" alt="image" src="/assets/images/pic2.png" />
            <img
              class="img2"
              alt="image"
              src="/assets/images/instagram-btn.png"
            />
          </div>
        </div>
        <div class="col-3"></div>
        <div class="col-3"></div>
      </div>

      <div class="row row3">
        <div class="col-3 d-flex text">
          <p class="my-auto">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis
            aute irure.
          </p>
        </div>
        <div class="col-3"></div>
        <div class="col-3 text-col" [ngClass]="counter === 2 ? 'comments' : ''">
          <div class="text-container">
            <div class="text-frame">
              <p class="heading mt-auto">@love_food</p>
              <p class="content mb-auto">
                Getting into long weekend mode like 🍤 #pancitpalabok (📷
                @jeepneynyc)
              </p>
              <div class="mt-auto icon-holder">
                <ul class="icon-list">
                  <li>
                    <i class="ic-sm ic-message"></i>
                    <p>60</p>
                  </li>
                  <li>
                    <i class="ic-sm ic-heart"></i>
                    <p>14.1k</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-3 frame"
          [ngClass]="counter === 2 ? 'frame-active' : ''"
        >
          <div class="image-container">
            <img class="img1" alt="image" src="/assets/images/pic2.png" />
            <img
              class="img2"
              alt="image"
              src="/assets/images/instagram-btn.png"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section (enterTheViewportNotifier)="check($event, 'menu')" class="menu">
    <div class="menu-container">
      <div class="menu-header">
        <h1 class="heading">OUR MENU</h1>
        <div class="bar"></div>
        <div class="know-more">KNOW MORE</div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div
          class="col-3 starters"
          [ngClass]="counter === 3 ? 'slideUpSection' : ''"
        >
          <div>
            <h1 class="heading">STARTERS</h1>
            <div class="items">
              <div class="title">QUINOA CROQUETTAS</div>
              <div class="description">
                Quinoa and cheddar croquettas with aji rocotto & pineapple salsa
                (v)
              </div>
              <div class="moneyTag">£4.95</div>
            </div>
            <div class="items">
              <div class="title">CHIFA CHICHARRONES</div>
              <div class="description">
                Slow cooked, crispy pork belly with sweet soy sauce
              </div>
              <div class="moneyTag">£4.95</div>
            </div>
            <div class="items">
              <div class="title">CALAMARES</div>
              <div class="description">
                Crispy baby squid with pickled jalapeño miso salsa
              </div>
              <div class="moneyTag">£4.95</div>
            </div>
          </div>
        </div>

        <div
          class="col-3 maincourses"
          [ngClass]="counter === 3 ? 'slideDownSection' : ''"
        >
          <div class="mt-auto">
            <h1 class="heading hidden-heading">MAIN COURSES</h1>
            <div class="items">
              <div class="title">EL CLASICO</div>
              <div class="description">
                Sea bass ceviche with aji limo tiger’s milk, sweet potato purée,
                choclo corn, red onion, coriander & plantain (gf)
              </div>
              <div class="moneyTag">£2.95</div>
            </div>
            <div class="items">
              <div class="title">TIRADITO CALLAO</div>
              <div class="description">
                Cobia tiradito with coriander tiger’s milk, black tobika, crème
                fraiche & sweet potato crunchies
              </div>
              <div class="moneyTag">£9.95</div>
            </div>
          </div>
        </div>
        <div
          class="col-3 sides"
          [ngClass]="counter === 3 ? 'slideUpSection' : ''"
        >
          <div class="margin-top-100">
            <h1 class="heading hidden-heading">SIDES</h1>
            <div class="items">
              <div class="title">SUPER POLLO</div>
              <div class="description">
                Marinated corn fed chicken pieces with rocotto salsa
              </div>
              <div class="moneyTag">£1.00</div>
            </div>
            <div class="items">
              <div class="title">PATATAS FRITAS</div>
              <div class="description">
                Sweet potato fries with aji rocotto mayonnaise (v)
              </div>
              <div class="moneyTag">£5.35</div>
            </div>
          </div>
        </div>
        <div
          class="col-3 desserts"
          [ngClass]="counter === 3 ? 'slideDownSection' : ''"
        >
          <div class="mt-5">
            <h1 class="heading hidden-heading">DESSERTS</h1>
            <div class="items">
              <div class="title">ICECREAM</div>
              <div class="description">
                Lorem ipsum dolor sit amet salerma petrum sea
              </div>
              <div class="moneyTag">£6.25</div>
            </div>
            <div class="items">
              <div class="title">TIRAMISU</div>
              <div class="description">
                Lorem ipsum dolor sit amet salerma petrum sea
              </div>
              <div class="moneyTag">£3.95</div>
            </div>
            <div class="items">
              <div class="title">CHOCOLATE BROWNIE</div>
              <div class="description">
                Lorem ipsum dolor sit amet salerma petrum sea
              </div>
              <div class="moneyTag">£2.35</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
