<section class="form">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="heading">
                    <h1>COLLABORATE <br><span>WITH US</span></h1>
                    <div class="bar"></div>
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                        <br> <br>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore
                    </p>
                </div>
            </div>
            <div class="col-6">
                <img alt="image" class="image" src="assets/images/detail02.png"> 
                <div class="form-container">
                    <div class="form-holder">
                        <div class="form-group">
                            <label for="name">NAME</label>
                            <input type="text" class="form-control" id="name"
                                 placeholder="Name">

                        </div>

                        <div class="form-group">
                            <label for="surname">SURNAME</label>
                            <input type="text" class="form-control" id="surname"
                                 placeholder="Surname">

                        </div>
                    </div>

                    <div class="form-holder">
                        <div class="form-group">
                            <label for="phone">PHONE</label>
                            <input type="text" class="form-control" id="pone"
                                 placeholder="Phone">

                        </div>

                        <div class="form-group">
                            <label for="email">EMAIL ADDRESS</label>
                            <input type="email" class="form-control" id="email"
                                 placeholder="Email">

                        </div>
                    </div>

                    <div class="form-holder">
                        <div class="form-group">
                            <label>EXPERIENCE</label>
                            <select class="custom-select">
                                <option value="null">Select</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                              </select>

                        </div>

                        <div class="form-group">
                            <label>WHERE DID YOU HEAR ABOUT US?</label>
                            <select class="custom-select">
                                <option value="0">Select</option>
                                <option value="1">LinkedIn</option>
                                <option value="2">Naukri</option>
                                <option value="3">Monster</option>
                              </select>

                        </div>
                    </div>

                    <button class="button">SEND</button>
                </div>
            </div>
        </div>
    </div>
</section>