<section class="community"
  >
    <div class="container">
      <div class="row row1">
        <div class="col-3"></div>
        <div class="col-3 meet-community">
          <div class="heading">
            <p>MEET OUR COMMUNITY</p>
            <div class="bar"></div>
          </div>
          <div class="know-more">KNOW MORE</div>
          <div class="content">
            <p>
              LOREM IPSUM DOLOR SIT AMET ERNUT TEMPARTERO SERTU PER NABORE EN
              TORNA ENTALTO
            </p>
          </div>
        </div>
        <div
        data-aos="fade-up"  data-aos-duration="250"  data-aos-easing="linear"
          data-aos-offset="200"
          data-aos-anchor-placement="top-center"
          class="col-3 frame"
        >
          <div class="image-container">
            <img class="img1" alt="image" src="/assets/images/pic2.png" />
            <img
              class="img2"
              alt="image"
              src="/assets/images/instagram-btn.png"
            />
            <img class="img3" alt="image" src="/assets/images/detail02.png" />
          </div>
        </div>
        <div data-aos="fade-up"  data-aos-duration="250" class="col-3 text-col">
          <div class="text-container">
            <div class="text-frame">
              <p class="heading mt-auto">@buzzfeedfood</p>
              <p class="content mb-auto">
                It’s taco Tuesday! These tacos from @jesseszewczyk have no added
                sugars and are SO good 🌮. Find the recipe from the link in our
                bio! 📸: @taylormillerphoto
              </p>
              <div class="mt-auto icon-holder">
                <ul class="icon-list">
                  <li>
                    <i class="ic-sm ic-message"></i>
                    <p>60</p>
                  </li>
                  <li>
                    <i class="ic-sm ic-heart"></i>
                    <p>14.1k</p>
                  </li>
                </ul>
              </div>
            </div>

            <img class="img3" alt="image" src="/assets/images/detail01.png" />
          </div>
        </div>
      </div>
       <div  data-aos="fade-up"  data-aos-duration="250"  data-aos-easing="linear"
       data-aos-offset="0"
       data-aos-anchor-placement="top-center">
      <div class="row row2">
        <div class="col-3 text-col">
          <div
            class="text-container"
          >
            <div class="text-frame">
              <p class="heading mt-auto">@love_food</p>
              <p class="content mb-auto">
                Waffle sticks in Copenhagen! 🇩🇰😍 Milk chocolate with sprinkles,
                dark chocolate with coconut and milk chocolate with peanuts!
                [📷: @foodwithmichel] #lovefood
              </p>
              <div class="mt-auto icon-holder">
                <ul class="icon-list">
                  <li>
                    <i class="ic-sm ic-message"></i>
                    <p>60</p>
                  </li>
                  <li>
                    <i class="ic-sm ic-heart"></i>
                    <p>14.1k</p>
                  </li>
                </ul>
              </div>
            </div>

            <img class="img3" alt="image" src="/assets/images/detail03.png" />
          </div>
        </div>

        <div
          class="col-3 frame"
        >
          <div class="image-container">
            <img class="img1" alt="image" src="/assets/images/pic2.png" />
            <img
              class="img2"
              alt="image"
              src="/assets/images/instagram-btn.png"
            />
          </div>
        </div>
        <div class="col-3"></div>
        <div class="col-3"></div>
      </div>

      <div class="row row3">
        <div class="col-3 d-flex text">
          <p class="my-auto">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis
            aute irure.
          </p>
        </div>
        <div class="col-3"></div>
        <div class="col-3 text-col">
          <div class="text-container">
            <div class="text-frame">
              <p class="heading mt-auto">@love_food</p>
              <p class="content mb-auto">
                Getting into long weekend mode like 🍤 #pancitpalabok (📷
                @jeepneynyc)
              </p>
              <div class="mt-auto icon-holder">
                <ul class="icon-list">
                  <li>
                    <i class="ic-sm ic-message"></i>
                    <p>60</p>
                  </li>
                  <li>
                    <i class="ic-sm ic-heart"></i>
                    <p>14.1k</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-3 frame"
        >
          <div class="image-container">
            <img class="img1" alt="image" src="/assets/images/pic2.png" />
            <img
              class="img2"
              alt="image"
              src="/assets/images/instagram-btn.png"
            />
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>