/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: dinCondensed;
    src: url('/assets/font/DIN_Condensed_Bold.ttf') format("opentype");
  }

  @font-face {
    font-family: gillSans;
    src: url('/assets/font/GillSans.ttc') format("opentype");
  }